<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Ben McCarrick</h1>
        <h3>Junior Software Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/ben-mccarrick-33a1451a0/" target="_blank">
            <img src="../../assets/linkedinlogo.png" width="24" height="24" alt="linkedinlogo" class="rounded-circle me-2">
        </a>

        <a href="https://github.com/benmccarrick" target="_blank">
            <img src="../../assets/githublogo.png" width="24" height="24" alt="githublogo" class="rounded-circle me-2">
        </a>
    </div>
</div>
