<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border" style="background-color: orange;">Download PDF CV</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100"accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Software Development Bootcamp</h2>
                    <h3 style="color: rgb(255, 98, 0);">Northcoders (January 2024 - April 2024)</h3>
                    <ul>
                        <li>A 13 week intensive course designed to teach the fundamentals of JavaScript, as well as Back-end and Front-end development, with a focus on building web applications</li>
                        <li>Created our own projects as an individual and as a team to give an indication what it would be like to work in a professional tech team and show our current skills</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Cricket Trader</h2>
                    <h3 style="color: rgb(255, 98, 0);">William Hill (July 2020 – December 2023)</h3>
                    <ul>
                        <li>Responsible for trading high-profile cricket matches, adjusting odds manually as the match was happening live for customers to bet on</li>
                        <li>Consistently surpassed the gross profit percentage target by a significant margin each year, becoming the best performer in the cricket department for the final two years of my employment, assuming the role as the senior/lead cricket trader</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Sports Analyst</h2>
                    <h3 style="color: rgb(255, 98, 0);">Opta/Stats-Perform (October 2014 – March 2020)</h3>
                    <ul>
                        <li>Provided high-level technical live analysis of football and cricket</li>
                        <li>Worked alongside fellow analysts to ensure data is agreed upon and accurate, with communication being vital</li>
                        <li>Involved re-analysing the data from a sporting match that had already concluded, correcting mistakes and removing any erroneous entries created by the live analyst</li>
                        <li>Managed and gave advice to new team members to become the best analysts they could be</li>
                        <li>Worked abroad in Zimbabwe in 2018 for the cricket world cup qualifiers, and analysed the biggest football games for the company (2018 FIFA World Cup)</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100"accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Technical Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Languages:</h3>
                        <ul>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>SQL</li>
                            <li>PSQL</li>
                            <li>Node.JS</li>
                            <li>Firebase</li>
                            <li>React</li>
                            <li>React-Native</li>
                            <li>Angular</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Paired programming</li>
                            <li>Test-Driven-Development(TDD) alongside Jest and Supertest</li>
                            <li>AGILE and SCRUM methodologies</li>
                            <li>Software Development Life Cycle (SDLC)</li>
                        </ul>
                    </div>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100"accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Leeds Beckett University (September 2013 – May 2016)</h2>
                    <br>
                    <ul>
                        <li>BSc Sport and Exercise Science - 2:2</li>
                    </ul>
                    <h2 class="mb-0">Queen Elizabeth Grammar School, Horncastle (September 2011 – May 2013)</h2>
                    <br>
                    <ul>
                        <li>Maths - A</li>
                        <li>Sport - B</li>
                        <li>Human Biology - D</li>
                    </ul>
                </div>
    
            </accordion-group>
        </accordion>
    </div>
</div>
