<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <br>
                <h2>About Me</h2>
                <br>
                <img src="../../assets/aboutmepicture.jpg" alt="profile picture" width="336" height="256" class="aboutmepic">
                <br>
                <br>
                <p>Hi! My name is Ben and I am fresh onto the tech scene, looking to kick-start my career in Software Development. Through my love of problem-solving, and completing any sort of puzzle, I enrolled onto a 13 week bootcamp through Northcoders, learning all things JavaScript, and aquiring the skills to be able to develop front-end and back-end websites/applications. Some of my work from this bootcamp is included in this portfolio, as well as some additional projects done in my own time, including this page! Feel free to browse, download my CV, or Contact me via the links provided!</p>
            </div>
        </div>

        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <br>
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the Portfolio section for more information!</p>
        </div>
    </div>
</div>
